<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- google maps -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- google maps -->
    <!-- read storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- read storage -->
    <!-- post notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- post notifications -->


    <application
        android:name=".App.Present"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Present"
        tools:targetApi="31">

        <activity android:name=".Views.Notifications.NotificationActivity"
            android:exported="false"
            android:launchMode="singleTop"/>
        <activity
            android:name=".Views.EditProfile.Activities.EditProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Views.Primary.Activities.PrimaryScreenDoctor"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Views.test1"
            android:exported="false" />
        <activity
            android:name=".Views.Primary.Activities.PrimaryScreenPatient"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Views.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

            <!-- android:windowSoftInputMode="adjustPan" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}">

        </meta-data>

    </application>

</manifest>